 h1,h2 {
  text-align: center;
  color: darkred;}
#mainimage{display: block;
  margin-left: auto;
  margin-right: auto;
  border:2px dashed black; }

  nav {background-color: green;
  padding: 1.2rem;
    }

.nav ul{text-align: center;font-size: 2.5rem;
}

.nav li{display: inline; color: white; margin: 2rem;}

.nav a:hover {
  color: hotpink;}

.nav a{color: white; text-decoration: none; }

#intro p {font-family: cursive;text-align:center;
color:white;background-color:black;
padding: 2rem;
border:1px solid red;}

#socialfooter li{display: inline; margin: 5rem;

              }
#flist a{ color: white;}

#socialfooter ul{text-align: center;background-color: darkred;
font-size: 2rem;}
footer{height: 1.5rem;
  border: 2 px solid black;}


#projects h3,h4{text-align: center;color: darkblue;}

#Description{text-align: center;color: green;}
a{text-decoration: none;}

#projects li{color: brown;}
#projects a{color: Blue;}

.acedmics thead{ background-color: peachpuff;}
.acedmics tbody{background-color: lightyellow;}
.acedmics table{border-collapse: collapse;text-align: center;margin-left: auto;
  margin-right: auto; width: 60rem;height: 4rem;font-size: 1.3rem;}

.work li{border: 2px solid black;text-align:
center;padding: 3rem;list-style-type: none;background-color: darkred;
color: white;font-size: 2rem;}
